* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: 'Open-sans', sans-serif;
  font-size: 1.6rem;
  background-color: #efefef;
}

header {
  width: 100%;
  background-color: #0067da;
  color: #fff;
  line-height: 8rem;
}

header>.container {
  width: 90%;
  max-width: 91rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-style: italic;
}

header nav {
  display: none;
}

header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

header li a {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

header li a a:hover {
  text-decoration: underline;
}

#mobile-menu-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: none;
  cursor: pointer;
  width: 2.25rem;
  height: 2.25rem;
  background-color: transparent;
  padding: 0;
}

#mobile-menu-btn span {
  width: 2.25rem;
  height: 0.2rem;
  background-color: #fff;
}

#mobile-menu {
  position: fixed;
  top: 8rem;
  left: 0;
  height: calc(100vh - 8rem);
  width: 100%;
  background-color: #0067da;
  display: none;
  flex-direction: column;
  align-items: center;
}

#mobile-menu.open {
  display: flex;
}

#mobile-menu nav {
  height: 20rem;
  width: 90%;
  margin: 0 auto;
}

#mobile-menu nav ul {
  list-style: none;
  text-align: center;
}

#mobile-menu li a {
  display: block;
  padding: 2rem;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
}

#mobile-menu li a:hover {
  text-decoration: underline;
}

main {
  padding: 4rem;
}

main>.container {
  max-width: 91rem;
  margin: 0 auto;
}

section {
  width: 100%;
}

section h2 {
  color: #0067da;
  font-style: italic;
  padding: 1rem 0;
  border-bottom: 2px solid #0067da;
  margin: 1rem 0;
}

#about img {
  width: 100%;
}

section p {
  padding: 1rem 0;
}

#products ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin: 4rem 0;
}

#products ul li {
  border-radius: 9px;
  overflow: hidden;
}

#products li img {
  width: 100%;
}

.subtitle {
  padding: 1rem .5rem 0 .5rem;
}

.subtitle p {
  font-size: 1.4rem;
}

.btn {
  width: 100%;
  color: #fff;
  background-color: #0067da;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1rem 0;
  border-radius: 5px;
  border: none;
}

@media (min-width: 640px) {
  header nav {
    display: block;
  }

  #mobile-menu-btn {
    display: none;
  }

  #products ul {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    row-gap: 4rem;
  }

  #products ul li {
    width: 48%;
  }
}

@media (min-width: 1024px) {

  #about {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
  }

  #about img {
    width: 40%;
  }

  #products ul li {
    width: 23%;
  }
}